##### DATA WRANGLING - FILTRADOS DE COL Y FIL
###### cirujia de datos - sacar poner cambiar combinar

In [1]:
import pandas as pd
import os

In [3]:
miPath = "/Users/User/Documents/Udemy-Cursos/DataScience-Python/python-ml-course/datasets"
miArchivo = "customer-churn-model/Customer churn model.txt"
fullPath = os.path.join(miPath, miArchivo)

In [4]:
data = pd.read_csv(fullPath)

In [5]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

###### Crear un subconjunto de datos

In [8]:
account_length = data["Account Length"]
#objeto de tipo serie ... no es un dataset

In [7]:
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [9]:
type(account_length)

pandas.core.series.Series

In [10]:
type(data)

pandas.core.frame.DataFrame

In [12]:
subset = data[["Account Length", "Phone", "Eve Charge", "Day Calls"]]

In [13]:
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [14]:
type(subset)

pandas.core.frame.DataFrame

In [15]:
colum_deseadas = ["Account Length", "Phone", "Eve Charge", "Day Calls"]

In [16]:
subset = data[colum_deseadas]

In [17]:
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [31]:
all_colums_list = data.columns.values.tolist()
all_colums_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [25]:
colums_deseadas = subset.columns.values.tolist()
colums_deseadas

['Account Length', 'Phone', 'Eve Charge', 'Day Calls']

In [34]:
sublist = [x for x in all_colums_list if x not in colums_deseadas]

In [35]:
sublist

['State',
 'Area Code',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [36]:
subset = data[sublist]
subset.head()

,State,Area Code,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Charge,Eve Mins,Eve Calls,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,no,yes,25,265.1,45.07,197.4,99,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,no,yes,26,161.6,27.47,195.5,103,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,no,no,0,243.4,41.38,121.2,110,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,yes,no,0,299.4,50.90,61.9,88,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,yes,no,0,166.7,28.34,148.3,122,186.9,121,8.41,10.1,3,2.73,3,False.

In [38]:
filas = data[0:25] #el ultimo dato ...es el 24 
filas

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True.
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False.
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False.
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False.
14,IA,62,415,366-9238,no,no,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False.
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
16,ID,85,408,350-8884,no,yes,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False.
17,VT,93,510,386-2923,no,no,0,190.7,114,32.42,...,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False.
18,VA,76,510,356-2992,no,yes,33,189.7,66,32.25,...,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False.
19,TX,73,415,373-2782,no,no,0,224.4,90,38.15,...,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False.
20,FL,147,415,396-5800,no,no,0,155.1,117,26.37,...,93,20.37,208.8,133,9.40,10.6,4,2.86,0,False.
21,CO,77,408,393-7984,no,no,0,62.4,89,10.61,...,121,14.44,209.6,64,9.43,5.7,6,1.54,5,True.
22,AZ,130,415,358-1958,no,no,0,183.0,112,31.11,...,99,6.20,181.8,78,8.18,9.5,19,2.57,0,False.
23,SC,111,415,350-2565,no,no,0,110.4,103,18.77,...,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False.
24,VA,132,510,343-4696,no,no,0,81.1,86,13.79,...,72,20.84,237.0,115,10.67,10.3,2,2.78,0,False.

In [39]:
filas = data[:8] #esto es igual que poner 0:8
filas

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.

In [40]:
filas =  data[3300:]
filas

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
3300,SC,111,415,418-8969,no,yes,21,127.1,94,21.61,...,116,19.41,166.7,108,7.50,7.1,3,1.92,1,False.
3301,CA,84,415,417-1488,no,no,0,280.0,113,47.60,...,90,17.19,156.8,103,7.06,10.4,4,2.81,0,True.
3302,LA,75,510,358-9898,yes,no,0,153.2,78,26.04,...,99,17.92,153.5,100,6.91,7.8,3,2.11,1,False.
3303,WI,114,415,373-7308,no,yes,26,137.1,88,23.31,...,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False.
3304,IL,71,510,330-7137,yes,no,0,186.1,114,31.64,...,140,16.88,206.5,80,9.29,13.8,5,3.73,4,True.
3305,IN,58,415,406-8445,no,yes,22,224.1,127,38.10,...,85,20.30,174.2,86,7.84,11.5,7,3.11,2,False.
3306,AL,106,408,404-5283,no,yes,29,83.6,131,14.21,...,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False.
3307,OK,172,408,398-3632,no,no,0,203.9,109,34.66,...,123,19.89,160.7,65,7.23,17.8,4,4.81,4,False.
3308,IA,45,415,399-5763,no,no,0,211.3,87,35.92,...,97,14.08,265.9,72,11.97,13.3,6,3.59,1,False.
3309,VT,100,408,340-9449,yes,no,0,219.4,112,37.30,...,102,19.18,255.3,95,11.49,12.0,4,3.24,4,False.
3310,NY,94,415,363-1123,no,no,0,190.4,91,32.37,...,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.
3311,LA,128,415,361-2170,no,no,0,147.7,94,25.11,...,83,24.08,188.3,124,8.47,6.9,5,1.86,2,False.
3312,SC,181,408,406-6304,no,no,0,229.9,130,39.08,...,93,12.27,262.4,110,11.81,14.2,4,3.83,2,False.
3313,ID,127,408,392-5090,no,no,0,102.8,128,17.48,...,95,12.21,191.4,97,8.61,10.0,5,2.70,1,False.
3314,MO,89,415,373-7713,no,no,0,178.7,81,30.38,...,74,19.86,131.9,120,5.94,9.1,4,2.46,1,False.
3315,ME,149,415,392-1376,no,yes,18,148.5,106,25.25,...,106,9.73,178.3,98,8.02,6.5,4,1.76,0,False.
3316,MS,103,510,390-6388,no,yes,29,164.1,111,27.90,...,96,18.62,220.3,108,9.91,12.3,9,3.32,0,False.
3317,SD,163,415,379-7290,yes,no,0,197.2,90,33.52,...,113,16.02,211.1,94,9.50,7.8,8,2.11,1,False.
3318,OK,52,415,397-9928,no,no,0,124.9,131,21.23,...,118,25.54,192.5,106,8.66,11.6,4,3.13,2,False.
3319,WY,89,415,378-6924,no,no,0,115.4,99,19.62,...,115,17.84,280.9,112,12.64,15.9,6,4.29,3,False.
3320,GA,122,510,411-5677,yes,no,0,140.0,101,23.80,...,77,16.69,120.1,133,5.40,9.7,4,2.62,4,True.
3321,VT,60,415,400-2738,no,no,0,193.9,118,32.96,...,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False.
3322,MD,62,408,409-1856,no,no,0,321.1,105,54.59,...,122,22.57,180.5,72,8.12,11.5,2,3.11,4,True.
3323,IN,117,415,362-5899,no,no,0,118.4,126,20.13,...,97,21.19,227.0,56,10.22,13.6,3,3.67,5,True.
3324,WV,159,415,377-1164,no,no,0,169.8,114,28.87,...,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False.
3325,OH,78,408,368-8555,no,no,0,193.4,99,32.88,...,88,9.94,243.3,109,10.95,9.3,4,2.51,2,False.
3326,OH,96,415,347-6812,no,no,0,106.6,128,18.12,...,87,24.21,178.9,92,8.05,14.9,7,4.02,1,False.
3327,SC,79,415,348-3830,no,no,0,134.7,98,22.90,...,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False.
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [47]:
#filtrar usuarios Total mins > 300
filas = data[data["Day Mins"]>350]
filas

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
365,CO,154,415,343-5709,no,no,0,350.8,75,59.64,...,94,18.4,253.9,100,11.43,10.1,9,2.73,1,True.

In [50]:
#filas usuarios de Nueva York "NY"
filas = data[data["State"]=="NY"]
filas

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
77,NY,144,408,360-1171,no,no,0,61.6,117,10.47,...,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,yes,21,175.8,97,29.89,...,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
182,NY,67,408,405-2888,no,yes,36,115.6,111,19.65,...,94,20.20,169.9,103,7.65,9.9,12,2.67,2,False.
186,NY,106,408,422-1471,no,no,0,158.7,74,26.98,...,139,5.47,198.5,103,8.93,10.2,4,2.75,1,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3219,NY,150,415,421-6268,no,yes,35,139.6,72,23.73,...,170,28.29,213.8,105,9.62,8.8,2,2.38,2,False.
3227,NY,209,415,369-8703,no,no,0,153.7,105,26.13,...,87,16.03,200.8,95,9.04,10.7,2,2.89,0,False.
3257,NY,171,415,412-6245,no,no,0,137.5,110,23.38,...,109,16.84,292.7,131,13.17,13.3,5,3.59,2,False.
3275,NY,120,510,405-5083,no,yes,27,128.5,115,21.85,...,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False.
3310,NY,94,415,363-1123,no,no,0,190.4,91,32.37,...,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.

In [51]:
#filas usuarios de doble condiciones o mas ... AND -> & OR -> |  
filas = data[(data["State"]=="NY") & (data["Day Mins"]>300)]
filas

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.

In [52]:
#filas usuarios de doble condiciones o mas ... AND -> & OR -> |  
filas = data[(data["State"]=="NY") | (data["Day Mins"]>300)]
filas

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
76,DC,82,415,374-5353,no,no,0,300.3,109,51.05,...,100,15.39,270.1,73,12.15,11.7,4,3.16,0,True.
77,NY,144,408,360-1171,no,no,0,61.6,117,10.47,...,85,6.55,173.0,99,7.79,8.2,7,2.21,4,True.
136,NY,75,415,374-8525,no,yes,21,175.8,97,29.89,...,106,18.49,237.5,134,10.69,5.3,4,1.43,5,False.
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3227,NY,209,415,369-8703,no,no,0,153.7,105,26.13,...,87,16.03,200.8,95,9.04,10.7,2,2.89,0,False.
3257,NY,171,415,412-6245,no,no,0,137.5,110,23.38,...,109,16.84,292.7,131,13.17,13.3,5,3.59,2,False.
3275,NY,120,510,405-5083,no,yes,27,128.5,115,21.85,...,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False.
3310,NY,94,415,363-1123,no,no,0,190.4,91,32.37,...,107,7.82,224.8,108,10.12,13.6,17,3.67,2,False.
3322,MD,62,408,409-1856,no,no,0,321.1,105,54.59,...,122,22.57,180.5,72,8.12,11.5,2,3.11,4,True.

In [57]:
# Filtrar filas y columnas 
subset = data[["Day Mins", "Night Mins", "Account Length"]][:50]
subset.shape

(50, 3)

In [56]:
subset.head()

   Day Mins  Night Mins  Account Length
0     265.1       244.7             128
1     161.6       254.4             107
2     243.4       162.6             137
3     299.4       196.9              84
4     166.7       186.9              75

In [60]:
data.iloc[0:10, 3:6] ### primeras 10 filas column de las 3 a la 6

      Phone Int'l Plan VMail Plan
0  382-4657         no        yes
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [62]:
data.iloc[:,3:6]  ### todas las filas y las columnas de 3 a 6

         Phone Int'l Plan VMail Plan
0     382-4657         no        yes
1     371-7191         no        yes
2     358-1921         no         no
3     375-9999        yes         no
4     330-6626        yes         no
...        ...        ...        ...
3328  414-4276         no        yes
3329  370-3271         no         no
3330  328-8230         no         no
3331  364-6381        yes         no
3332  400-4344         no        yes

[3333 rows x 3 columns]

In [63]:
data.iloc[1:10, [2,4,6]].head()

   Area Code Int'l Plan  VMail Message
1        415         no             26
2        415         no              0
3        408        yes              0
4        415        yes              0
5        510        yes              0

In [65]:
data.loc[[1,5,10,26], ["Area Code", "Day Mins"]]

    Area Code  Day Mins
1         415     161.6
5         510     223.4
10        415     129.1
26        408     213.0

In [67]:
data["Total Mins"] = data["Day Mins"] + data["Night Mins"] + data["Eve Mins"]

In [68]:
data["Total Mins"].head()

0    707.2
1    611.5
2    527.2
3    558.2
4    501.9
Name: Total Mins, dtype: float64

In [86]:
data.loc[1:5, ["Day Mins", "Night Mins", "Eve Mins", "Total Mins"]]

   Day Mins  Night Mins  Eve Mins  Total Mins
1     161.6       254.4     195.5       611.5
2     243.4       162.6     121.2       527.2
3     299.4       196.9      61.9       558.2
4     166.7       186.9     148.3       501.9
5     223.4       203.9     220.6       647.9

In [87]:
# leer planilla excel 
miPath = "/Users/User/Documents/Udemy-Cursos/DataScience-Python/datasets"
miArchivo = "Prorrateos-Mazro2020.xls"
fullPath = os.path.join(miPath, miArchivo)
expensas = pd.read_excel(miPath + "/" + miArchivo, "Prorrateos")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [88]:
expensas.head()

,Codigo Prorrateo,Codigo Unidad,Codigo Consorcio,Fecha Prorrateo,Exp A,Exp B,Exp C,Exp D,F Reserva,Adicional,...,Cob Exp B,Cob Exp C,Cob Exp D,Cob F Reserva,Cob Adicional,Cob Particular,Cob Deuda,Cob Interes,Cob Segundo Interes,Su pago Anterior
0,104011,20,3,2015-01-01,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
1,104012,21,3,2015-01-01,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
2,104013,22,3,2015-01-01,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
3,104014,23,3,2015-01-01,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
4,104015,24,3,2015-01-01,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0

In [91]:
expensas.columns.values.tolist()

['Codigo Prorrateo',
 'Codigo Unidad',
 'Codigo Consorcio',
 'Fecha Prorrateo',
 'Exp A',
 'Exp B',
 'Exp C',
 'Exp D',
 'F Reserva',
 'Adicional',
 'Particular',
 'Deuda',
 'Interes',
 'Segundo Interes',
 'Cob Exp A',
 'Cob Exp B',
 'Cob Exp C',
 'Cob Exp D',
 'Cob F Reserva',
 'Cob Adicional',
 'Cob Particular',
 'Cob Deuda',
 'Cob Interes',
 'Cob Segundo Interes',
 'Su pago Anterior']

In [116]:
expensas.loc[:, ["Exp A", "Exp B", "Exp C", "Total"]]

       Exp A  Exp B  Exp C  Total
0          0      0      0      0
1          0      0      0      0
2          0      0      0      0
3          0      0      0      0
4          0      0      0      0
...      ...    ...    ...    ...
26466   2528    501    163   3192
26467   2472    490    163   3125
26468   2472    490    163   3125
26469   2021    400    163   2584
26470   2021    400    163   2584

[26471 rows x 4 columns]

In [117]:
filtros = expensas[(expensas["Total"]>0) & (expensas["Codigo Consorcio"]==100)]
filtros

,Codigo Prorrateo,Codigo Unidad,Codigo Consorcio,Fecha Prorrateo,Exp A,Exp B,Exp C,Exp D,F Reserva,Adicional,...,Cob Exp C,Cob Exp D,Cob F Reserva,Cob Adicional,Cob Particular,Cob Deuda,Cob Interes,Cob Segundo Interes,Su pago Anterior,Total
618,104900,1460,100,2015-02-01,662,0,0,0,0,230,...,0.0,0,0,230,0,0,0,0,0,662
619,104901,1461,100,2015-02-01,749,0,0,0,0,261,...,0.0,0,0,261,0,0,0,0,0,749
620,104902,1462,100,2015-02-01,717,0,0,0,0,250,...,0.0,0,0,250,0,-2,0,0,0,717
621,104903,1463,100,2015-02-01,448,0,0,0,0,156,...,0.0,0,0,156,0,0,0,0,0,448
622,104904,1464,100,2015-02-01,641,0,0,0,0,223,...,0.0,0,0,223,0,0,0,0,0,641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26124,132707,1489,100,2020-02-01,1104,0,467,0,0,259,...,467.0,0,0,259,0,0,0,0,1373,1571
26125,132708,1490,100,2020-02-01,1104,0,467,0,0,259,...,467.0,0,0,259,0,0,0,0,1373,1571
26126,132709,1491,100,2020-02-01,1104,0,467,0,0,259,...,0.0,0,0,0,0,0,0,0,4666,1571
26127,132710,1492,100,2020-02-01,64,20,0,0,0,15,...,0.0,0,0,15,0,-3,0,0,78,84
26128,132711,1493,100,2020-02-01,90,23,0,0,0,21,...,0.0,0,0,21,0,-18,0,0,141,113

###### Numeros Aleatorios

In [128]:
import numpy as np
nroSeudoAleatorio = np.random.randint(1,100)
nroSeudoAleatorio

82

In [136]:
nroSeudoAleatorio = np.random.random()
nroSeudoAleatorio

0.19697976981853305

In [138]:
def randint_list(n, a, b):
    x = []
    for i in range(n):
        x.append(np.random.randint(a,b))
    return x

In [139]:
randint_list(25, 1, 50)

[26,
 9,
 11,
 45,
 31,
 26,
 49,
 29,
 42,
 48,
 30,
 41,
 10,
 32,
 44,
 9,
 22,
 28,
 46,
 36,
 22,
 29,
 10,
 44,
 22]

In [144]:
import random 
for i in range(10):
    print(random.randrange(0,100,3))

69
3
33
99
48
27
51
81
87
45

##### Shuffling - barajar las cartas ...mezclar

In [145]:
a = np.arange(100)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [147]:
np.random.shuffle(a)
a

array([36, 88, 21, 59, 70, 87, 60, 65,  6, 82, 77, 83, 14, 38, 48, 94, 91,
       44, 99, 89, 97, 58, 43,  9, 93, 32, 30,  3,  4,  0,  5, 31, 49, 90,
       78, 41, 52, 96, 55, 98, 39,  1, 63, 12, 84, 28, 25, 16, 34, 86, 40,
        2, 66, 50, 85, 33, 81, 76, 56, 42, 24, 26, 23, 29, 37, 57, 61, 11,
       51, 53, 80, 27, 17, 35, 75, 74, 68, 22,  7, 79, 69, 67, 15, 46, 47,
       64, 19, 10, 72, 18, 45, 20, 73, 13, 54, 95,  8, 62, 92, 71])

In [148]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False.,707.2
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False.,611.5
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False.,527.2
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False.,558.2
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False.,501.9

In [149]:
colum_list = data.columns.values.tolist()

In [151]:
colum_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?',
 'Total Mins']

In [157]:
np.random.choice(colum_list) ### elegir uno a la azar

'CustServ Calls'

##### seed - semilla

In [169]:
np.random.seed(2018)
for i in range(5):
    print(np.random.random())

0.8823493117539459
0.10432773786047767
0.9070093335163405
0.3063988986063515
0.446408872427422